<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
	<meta charset="UTF-8">
	<title>Lista de Carros</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<a class="btn btn-primary" data-toggle="collapse" th:href="@{/carros/novo}" role="button" aria-expanded="false" aria-controls="collapseExample">
			    Adicionar
		</a>
		<div th:replace="mensagemGeral"></div>
		<table border="1" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Placa</th>
					<th scope="col">Chassi</th>
					<th scope="col">Modelo</th>
					<th scope="col">Valor Diaria</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="carro : ${carros}">
					<td scope="row" th:text="${carro.id}"></td>
					<td scope="row" th:text="${carro.placa}"></td>
					<td scope="row" th:text="${carro.chassi}"></td>
					<td scope="row" th:text="${carro.modelo.descricao}"></td>
					<td scope="row" th:text="${{carro.valorDiaria}}"></td>
					<td>
						<a class="btn btn-warning" data-toggle="collapse" th:href="@{/carros/editar/{id}(id=${carro.id})}" role="button" aria-expanded="false" aria-controls="collapseExample">
							Editar
						</a>
						<a onclick="return confirm('Confirmar a exclusão?')" class="btn btn-danger" data-toggle="collapse" th:href="@{/carros/excluir/{id}(id=${carro.id})}" role="button" aria-expanded="false" aria-controls="collapseExample">
							Excluir
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>