<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
	<meta charset="UTF-8">
	<title>Cadastro Carro</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container">
			<h1>Cadastro de carros</h1>
			<form action="/carros" method="POST" th:object="${carro}">
				<input type="hidden" th:field="*{id}">
				<div th:replace="mensagemErroGeral"></div>
				<div class="form-group">
					<label for="placa">Placa:</label>
					<input class="form-control" id="placa" type="text" th:field="*{placa}">
				</div>	
				<div class="form-group">
					<label for="chassi">Chassi:</label>
					<input class="form-control" id="chassi" type="text" th:field="*{chassi}">
				</div>	
				<div class="form-group">
						<label for="modelo">Modelo:</label>
						<select class="custom-select mr-sm-2" id="modelo" th:field="*{modelo}">
							<option value="">Selecione</option>
							<option th:each="modelo : ${todosModelos}" th:text="${modelo.descricao}" th:value="${modelo.id}">
						</select>
				</div>
				<div class="form-group">
					<label for="valorDiaria">Valor da diaria:</label>
					<input class="form-control" id="valorDiaria" type="text" th:field="*{valorDiaria}">
				</div>	
				<button class="btn btn-primary" type="submit">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>