<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Locação Veículos</a>
    </nav>
	<div class="container-fluid pt-5 h-90">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block sidebar h-100">
          		<div class="sidebar-sticky">
            		<ul class="nav flex-column">
              			<li class="nav-item">
                			<a class="nav-link active" th:href="@{/locacoes/}">
                  				<span data-feather="home"></span>
                  				Locações
                			</a>
              			</li>
              			<li class="nav-item">
                			<a class="nav-link active" th:href="@{/carros/}">
                  				<span data-feather="file"></span>
                  				Carros
                			</a>
              			</li>
              			<li class="nav-item">
                			<a class="nav-link active" th:href="@{/fabricantes/}">
                  				<span data-feather="home"></span>
                  				Fabricantes
                			</a>
              			</li>
              			<li class="nav-item">
                			<a class="nav-link active" th:href="@{/modelos/}">
                  				<span data-feather="home"></span>
                  				Modelos
                			</a>
              			</li>
              			<li class="nav-item">
                			<a class="nav-link active" th:href="@{/motoristas/}">
                  				<span data-feather="home"></span>
                  				Motoristas
                			</a>
              			</li>
              		</ul>
              	</div>
            </nav>
			<section class="col-md-10 shadow p-3 mb-5 bg-light rounded" layout:fragment="conteudo" style="width: 85%;"></section>
		</div>
	</div>
	<footer  class="bg-light text-center fixed-bottom p4">
		Pos - Spring MVC
	</footer>
</body>
</html>