<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
	<meta charset="UTF-8">
	<title>Cadastro Locacao</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<form action="/locacoes" method="POST" th:object="${locacao}" class="pl-3">
			<input type="hidden" th:field="*{id}">
			<div th:replace="mensagemErroGeral"></div>
			<div class="form-group">
				<label for="carro">Carro:</label>
				<select class="custom-select mr-sm-2" id="carro" th:field="*{carro}">
					<option value="">Selecione</option>
					<option th:each="carro : ${todosCarros}" th:text="${carro.placa}" th:value="${carro.id}"/>
				</select>
			</div>
			<div class="form-group pt-2">
				<label for="motorista">Motorista:</label>
				<select class="custom-select mr-sm-2" id="motorista" th:field="*{motorista}">
					<option value="">Selecione</option>
					<option th:each="motorista : ${todosMotoristas}" th:text="${motorista.nome}" th:value="${motorista.id}"/>
				</select>
			</div>
			<div class="form-group pt-2">
				<label for="dataLocacao">Data de locação:</label>
				<input class="form-control" id="dataLocacao" type="date" th:field="*{dataLocacao}">
			</div>
			<div class="form-group pt-2">
				<label for="dataDevolucao">Data de devolução:</label>
				<input class="form-control" id="dataDevolucao" type="date" th:field="*{dataDevolucao}">
			</div>
			<div class="form-group pt-2">
				<label for="valorTotal">Valor:</label>
				<input class="form-control" id="valorTotal" type="text" th:field="*{valorTotal}">
			</div>
			<button class="btn btn-primary" type="submit">Salvar</button>
		</form>
	</section>
</body>
</html>