<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
	<meta charset="UTF-8">
	<title>Lista de Locações</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<a class="btn btn-primary" data-toggle="collapse" th:href="@{/locacoes/novo}" role="button" aria-expanded="false" aria-controls="collapseExample">
			    Adicionar
		</a>
		<a th:href="@{locacoes/novo}"></a>
		<div th:replace="mensagemGeral"></div>
		<table border="1" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Carro</th>
					<th scope="col">Motorista</th>
					<th scope="col">Data de Locação</th>
					<th scope="col">Data de Devolução</th>
					<th scope="col">Valor</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="locacao : ${locacoes}">
					<td scope="row" th:text="${locacao.id}"></td>
					<td scope="row" th:text="${locacao.carro.placa}"></td>
					<td scope="row" th:text="${locacao.motorista.nome}"></td>
					<td scope="row" th:text="${#temporals.format(locacao.dataLocacao, 'dd/MM/yyyy')}"></td>
					<td scope="row" th:text="${#temporals.format(locacao.dataDevolucao, 'dd/MM/yyyy')}"></td>
					<td scope="row" th:text="${{locacao.valorTotal}}"></td>
					<td>
						<a class="btn btn-warning" data-toggle="collapse" th:href="@{/locacoes/editar/{id}(id=${locacao.id})}" role="button" aria-expanded="false" aria-controls="collapseExample">
							Editar
						</a>
						<a onclick="return confirm('Confirmar a exclusão?')" class="btn btn-danger" data-toggle="collapse" th:href="@{/locacoes/excluir/{id}(id=${locacao.id})}" role="button" aria-expanded="false" aria-controls="collapseExample">
							Excluir
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>