<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmeleaf/layout">
	<!--  Mensagem Geral -->
	<div class="form-group" role="alert" th:if="${!#strings.isEmpty(mensagem)}" style="padding-top: 20px;">
		<span th:text="${mensagem}" class="alert alert-success" role="alert"></span>
	</div>
</html>