<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmeleaf/layout">
	<!-- Errors -->
	<!-- # verifica se os campos tem erro -->
	<div class="form-group" th:if="${#fields.hasAnyErrors()}">
		<div class="form-group" th:each="error : ${#fields.detailedErrors()}" style="padding-top: 20px;">
			<span th:text="${error.message}" class="alert alert-danger" role="alert"></span>
		</div>
	</div>
</html>