<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
	<meta charset="UTF-8">
	<title>Cadastro Modelo</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<form action="/modelos" method="POST" th:object="${modelo}">
			<input type="hidden" th:field="*{id}">
			<div th:replace="mensagemErroGeral"></div>
			<div class="form-group">
				<label for="descricao">Descricao:</label>
				<input class="form-control" id="descricao" type="text" th:field="*{descricao}">
			</div>
			<div class="form-group">
				<label for="categoria">Categoria:</label>
				<select class="custom-select mr-sm-2" id="categoria" th:field="*{categoria}">
					<option value="">Selecione</option>
					<option th:each="categoria : ${todasCategorias}" th:text="${categoria.descricao}" th:value="${categoria}">
				</select>
			</div>
			<div class="form-group">
				<label for="fabricante">Fabricante:</label>
				<select class="custom-select mr-sm-2" id="fabricante" th:field="*{fabricante}">
					<option value="">Selecione</option>
					<option th:each="fabricante : ${todosFabricantes}" th:text="${fabricante.nome}" th:value="${fabricante.id}">
				</select>
			</div>
			<button class="btn btn-primary" type="submit">Salvar</button>
		</form>
	</section>
</body>
</html>