<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
	<meta charset="UTF-8">
	<title>Lista de Modelos</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<a class="btn btn-primary" data-toggle="collapse" th:href="@{/modelos/novo}" role="button" aria-expanded="false" aria-controls="collapseExample">
			    Adicionar
		</a>
		<a th:href="@{mdelos/novo}"></a>
		<div th:replace="mensagemGeral"></div>
		<table border="1" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Descrição</th>
					<th scope="col">Categoria</th>
					<th scope="col">Fabricante</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="modelo : ${modelos}">
					<td scope="row" th:text="${modelo.id}"></td>
					<td scope="row" th:text="${modelo.descricao}"></td>
					<td scope="row" th:text="${modelo.categoria.descricao}"></td>
					<td scope="row" th:text="${modelo.fabricante.nome}"></td>
					<td>
						<a class="btn btn-warning" data-toggle="collapse" th:href="@{/modelos/editar/{id}(id=${modelo.id})}" role="button" aria-expanded="false" aria-controls="collapseExample">
							Editar
						</a>
						<a onclick="return confirm('Confirmar a exclusão?')" class="btn btn-danger" data-toggle="collapse" th:href="@{/modelos/excluir/{id}(id=${modelo.id})}" role="button" aria-expanded="false" aria-controls="collapseExample">
							Excluir
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>