<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
	<meta charset="UTF-8">
	<title>Lista de Motoristas</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<a class="btn btn-primary" data-toggle="collapse" th:href="@{/motoristas/novo}" role="button" aria-expanded="false" aria-controls="collapseExample">
			    Adicionar
		</a>
		<a th:href="@{motoristas/novo}"></a>
		<div th:replace="mensagemGeral"></div>
		<table border="1" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nome</th>
					<th scope="col">CPF</th>
					<th scope="col">CNH</th>
					<th scope="col">Sexo</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="motorista : ${motoristas}">
					<td scope="row" th:text="${motorista.id}"></td>
					<td scope="row" th:text="${motorista.nome}"></td>
					<td scope="row" th:text="${motorista.cpf}"></td>
					<td scope="row" th:text="${motorista.cnh}"></td>
					<td scope="row" th:text="${motorista.sexo.descricao}"></td>
					<td>
						<a class="btn btn-warning" data-toggle="collapse" th:href="@{/motoristas/editar/{id}(id=${motorista.id})}" role="button" aria-expanded="false" aria-controls="collapseExample">
							Editar
						</a>
						<a onclick="return confirm('Confirmar a exclusão?')" class="btn btn-danger" data-toggle="collapse" th:href="@{/motoristas/excluir/{id}(id=${motorista.id})}" role="button" aria-expanded="false" aria-controls="collapseExample">
							Excluir
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>