<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
	<meta charset="UTF-8">
	<title>Cadastro Motoristas</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<form action="/motoristas" method="POST" th:object="${motorista}">
			<input type="hidden" th:field="*{id}">
			<div th:replace="mensagemErroGeral"></div>
			<div class="form-group">
				<label for="nome">Nome:</label>
				<input class="form-control" id="nome" type="text" th:field="*{nome}">
			</div>
			<div class="form-group">
				<label for="cpf">CPF:</label>
				<input class="form-control" id="cpf" type="text" th:field="*{cpf}">
			</div>
			<div class="form-group">
				<label for="cnh">CNH:</label>
				<input class="form-control" id="cnh" type="text" th:field="*{cnh}">
			</div>
			<div class="form-group">
				<label for="sexo">Sexo:</label>
				<select class="custom-select mr-sm-2" id="sexo" th:field="*{sexo}">
					<option value="">Selecione</option>
					<option th:each="sexo : ${todosSexos}" th:text="${sexo.descricao}" th:value="${sexo}">
				</select>
			</div>
			<button class="btn btn-primary" type="submit">Salvar</button>
		</form>
	</section>
</body>
</html>